*{
    box-sizing: border-box;
    margin-top: 0px;
    
}

li{
   display: inline-block;
padding: 20 px;
margin: 20px;

}

ul{
    float: right;
   
}
ul li a{
    color:rgb(156, 41, 156);
}
.div1{
    background-color: mediumvioletred;
    padding: 20px;
    text-align: center;
}
.poster{
    display: flex;
    
    
    margin-top: 20px;
    width: 100%;
    height: 360px;
    
    flex-direction: row;
    justify-content: space-evenly;
    
    
    
    
    
}

.poster > div{
    margin: 30px;


}
.poster1{
    
    align-self: flex-start;
    
    height: 250px;
    width: 25%;
    
     
}
img{
    height: 250px;
    width: 100%;
    background-size: cover;
    margin-bottom: 10px;
    
}
.poster1 p{
    align-self:flex-start ;
}
.poster2{
    
    align-self: flex-end;
    height: 250px;
    width: 25%;
    
    
   
    
}
.poster3{
    
    align-self: center;
    height: 250px;
    width: 25%;
    
   
    
}
.poster4{
  
    
    align-self: flex-start;
    height: 250px;
    width: 25%;
    
}