*{
    box-sizing: border-box;
    margin-left: 10px;
}



/*************** Side Nav *************** */
nav.firstnav{
    width: 40%;
    
    position: absolute;
    height: 100%;
    
    overflow: auto;
}


label{
    color: rgb(255, 94, 0);
}


.title{
    margin-left: 200px;
    color: rgb(207, 41, 29);
}

ul li{
    color:rgb(201, 69, 69)
    
}
ul{
    list-style: none;
}
li::before{
    content: " • ";
    color: black;
}
main{
   
    padding-top:20px; 
    width:60%  ; 
    float: right;
    margin:0px;
    overflow: auto;
}





/* -------------------------------------------------
Second Nav */

